@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.hide-scrollbar {
  /* For Internet Explorer, Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}



body {
  color: rgb(var(--foreground-rgb));
  background-color: #FCFDFE;
}

main {
  background-color: #FCFDFE;
  color: black;
}


.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}