.select_field {
    background-color: #FCFDFE !important;
    width: 200px;
}

.input_field {
    border: none;
    font-size: 40px;
    font-weight: bold;
    background-color: #FCFDFE !important;
    width: 100%;
    padding: 10px
}

.content_field {
    border: none;
    background-color: #FCFDFE !important;
    width: 100%;
    text-align: justify;
}

.input_field::placeholder {
    font-size: 50px;
    font-weight: bold;
    opacity: 50%;
    padding: unset;
    margin: unset;
}